<div class="widget">
  <p class="copyright text-muted">
    Themed by <a href="https://github.com/kavience/hexo-theme-omega">Omega</a>
    <br>
    Refers to <a href="http://huangxuan.me">Hux</a>
    <br>
    <span class="post-count">
      All posts <%= totalcount(site) %> words altogether</span>
    <br />
    Copyright &copy; <%= config.author %>
      <%= new Date().getFullYear() %>
        <br>
        <% if (theme.beian) { %>
          <a href="http://beian.miit.gov.cn/">
            <%= theme.beian %>
          </a>
        <% } %>
  </p>
</div>